{% extends "game/base.html"%}



{% block content%}
<h2>Typing game</h2>


<div class="timer">
    <span id="timer-minutes">00</span>:
    <span id="timer-seconds">00</span>
</div>



<div class="content-section">
    <p id = "current-text" class="current-exercise" ></p>
</div>


<div class="input-group input-group-lg pt-2">
    <textarea  id='quoteInput' class="form-control" aria-label="With textarea" ></textarea>
</div>

<a class="btn btn-primary btn-sm mt-1 mb-1" onclick="reset()" href="#">Reset</a>


{%endblock content%}